<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
    <title>Timezone Tests</title>
</head>
<body>
    <p>Site data:</p>
<pre>
    <code>tz: Pacific/Auckland</code>
</pre>

<p>A Generic Date:</p>
<pre>
    <code>raw: 2024-05-31
formatted: Fri, May 31, 2024, 12:00:00 AM
date_to_long_string: 31 May 2024
timezone: +00:00</code>
</pre>

<p>A Generic DateTime:</p>
<pre>
    <code>raw: 2024-05-31 00:00:00 +0000
formatted: Fri, May 31, 2024, 12:00:00 AM
date_to_long_string: 31 May 2024
timezone: </code>
</pre>

<p>A NZ DateTime:</p>
<pre>
    <code>raw: 2024-05-31 00:00:00 +1300
formatted: Fri, May 31, 2024, 12:00:00 AM
date_to_long_string: 30 May 2024
timezone: </code>
</pre>

<p>A Europe DateTime:</p>
<pre>
    <code>raw: 2024-05-31 00:00:00 +0100
formatted: Fri, May 31, 2024, 12:00:00 AM
date_to_long_string: 31 May 2024
timezone: </code>
</pre>
</body>
</html>